@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
}

body {
  font: normal 9pt "Arial", sans-serif;
  background-color: #e0e0e0;
}

#header {
  margin: 0;
  border-bottom: .3em solid #bbb;
  background: #e0e0e0 url('../image/header.png') repeat-x center bottom;
  color: white;
  text-shadow: 0 0 .1em black;
}

#header p {
  float: right;
  margin: 0;
  padding: 1em;
}

#header h1 {
  margin: 0;
  padding: 1em;
  font-size: 1.2em;
}

#header a {
  color: white;
  text-decoration: none;
}

#content {
  margin: 0;
  border-top: .2em solid #999;
  border-bottom: .2em solid #999;
  background-color: white;
}

#content div.option {
  float: right;
  margin-right: 0;
  width: 30%;
}


#content div.option > div {
  margin: 3.3em 2em 2em auto;
  border: .1em dashed #ddd;
}

#content div.option > div > div {
  margin: -1.3em 0 0 1em;
  border: .1em dashed #ddd;
  padding: .5em;
  background-color: white;
  width: 40%;
}

#content div.option > div > p {
  margin: 0;
  padding: 2em;
}

#list {
  margin-right: 30%;
}

#list .data {
  margin: 1.5em;
  border: .1em dashed #ddd;
}

#list .data * {
  margin: 0;
  padding: 0;
}

#list .data div.head {
  padding: .2em .5em;
  background-color: #eee;
}

#list div.data h2, form #title {
  font: bold 1.2em sans-serif;
}

#list div.data p.link-page, form #link {
  font: .8em sans-serif;
}

#list div.data a {
  color: black;
  text-decoration: none;
}

#list div.data p.link-page a {
  cursor: text;
}

#list div.data p.link-info {
  margin: .1em 0;
  font-size: .9em;
}

#list .data div.info {
  border-top: .1em dashed #ddd;
  padding: .5em;
  text-align: justify;
}

#list div.data div.info p.tag {
  padding-top: .5em;
  font-size: .8em;
}

form, .form {
  position: relative;
}

form, fieldset {
  margin: 0;
  padding: 0;
}

legend, label {
  display: none;
}

form .head input, form .head textarea, form .info input, form .info textarea  {
  margin: 0;
  border: .1em solid white;
  background-color: inherit;
  padding: 0;
  width: 100%;
}

form .head input:hover, form .head textarea:hover, form .info input:hover, form .info textarea:hover  {
  border: .1em solid #ddd;
}

form .head input:focus, form .head textarea:focus, form .info input:focus, form .info textarea:focus  {
    border: .1em solid #ddd;
  background-color: #fefefe;
}

#footer {
  clear: both;
  margin: 0;
  border-top: .3em solid #bbb;
  background: #e0e0e0 url('../image/antiheader.png') repeat-x center top;
  color: white;
  text-shadow: 0 0 .1em black;
}

#footer p {
  margin: 0;
  padding: 2em 1em;
  color: #ccc;
  font-size: .8em;
}

#footer p.power {
  float: left;
}

#footer p.source {
  float: right;
}

#footer p.standard {
  text-align: center;
}

#footer a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}


p.error {
  font-weight: bold;
  color: red;
}

#debug {
  position: relative;
  margin: -13.6em 0 0 auto;
  border: .3em double red;
  padding: .5em;
  background-color: #fee;
  width: 13em;
}

#debug dd {
  margin: 0;
  text-align: right;
}